.titles-home {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
}

.titles-home:hover {
    color: #FF6E0E;
}

.text_color_nav {
    color: #BFC1C8;
}

.banner_background {
    background: url(../assets/images/growcast-01.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: white;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-toggler {
    color: transparent;
    background-color: transparent;
    border: var(--bs-border-width) solid #BFC1C8;
}

.body_card {
    cursor: pointer;
}

.modal-content {
    background: transparent;
}

.increase-card {
    width: 16rem;
}

.increase-card:hover {
    animation: slide-increase 0.5s forwards;
    transition-timing-function: ease;
}

@keyframes slide-increase {
    0% {
        width: 16rem;
    }

    100% {
        width: 22rem;

    }
}


.sobrepor {
    z-index: 3;
    position: absolute;
}

@media(max-width: 576px) {
    .banner_background {
        background-size: cover;
    }

    .text-header {
        font-size: 20px;
    }

    .button_assistir {
        margin-left: 10px;
        width: 80px;
        height: 25px;
        font-size: small;
        padding: 0;
        margin-bottom: 15px;
    }

    .banner_growcast {
        min-height: 150px;
    }

    .modal_movie {
        height: 250px;
    }

    .modal {
        --bs-modal-width: 100px;
    }

    .sobrepor {
        position: relative;
    }
}

@media(min-width: 576px) {
    .banner_background {
        background-size: cover;
    }

    .text-header {
        font-size: 20px;
    }

    .button_assistir {
        margin-left: 10px;
        width: 90px;
        height: 35px;
        font-size: medium;
        padding: 0;
        margin-bottom: 15px;
    }

    .banner_growcast {
        min-height: 250px;
    }

    .modal_movie {
        height: 325px;
    }

    .modal {
        --bs-modal-width: 500px;
    }

}

@media(min-width: 768px) {
    .banner_background {
        background-size: cover;
    }

    .text-header {
        font-size: 45px;
    }

    .button_assistir {
        margin-left: 10px;
        width: 110px;
        height: 40px;
        font-size: large;
        padding: 0;
        margin-bottom: 35px;
    }

    .banner_growcast {
        min-height: 400px;
    }

    .modal_movie {
        height: 415px;
    }

    .modal {
        --bs-modal-width: 850px;
    }
}


@media(min-width: 992px) {

    .banner_background {
        background-size: cover;
    }

    .text-header {
        font-size: 70px;
    }

    .button_assistir {
        margin-left: 10px;
        width: 110px;
        height: 40px;
        font-size: large;
        padding: 0;
        margin-bottom: 35px;
    }

    .banner_growcast {
        min-height: 575px;
    }

    .modal_movie {
        height: 515px;
    }

    .modal {
        --bs-modal-width: 900px;
    }
}